@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "promo"
    "cabezera"
    "nav"
    "contenido"
    "pie";
}
.promociones{
    grid-area: promo;
    text-align: center;
}
.contenedor__cabezera{
    grid-area: cabezera;
    margin: 0% auto;
}
.contenedor__cabezera--logo{
    width: 50vw;
    margin: 0% auto;
}
.contenedor__navegacion{
    grid-area: nav;
    text-align: center;
    width: 100vw;
    background-color: cadetblue;
}
.contenedor__navegacion--lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    text-transform: uppercase;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    padding: 2% 2%;
}
.contenido{
    grid-area: contenido;
    width: 100vw;
}
.contenido__hero{
    width: 100vw;
}
.contenido__producto{
    margin: 5% auto;
    text-align: center;
    width: 50vw;
    background-color: cornflowerblue;
    border: navy 4px solid;
    border-radius: 8%;
    overflow: hidden;
}
.pie{
    grid-area: pie;
    text-align: center;
    position: relative;
    bottom: 0;
}
.contenido__producto--texto{
    text-align:center;
    color:rgb(235, 143, 14);
    letter-spacing: 4px;
    text-transform:uppercase;
    -webkit-animation:blur 2s ease-out infinite;
            animation:blur 2s ease-out infinite;
    text-shadow:0px 0px 5px #fff,
        0px 0px 7px #fff;
}
@-webkit-keyframes blur{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
} 
@keyframes blur{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}
/* CSS Quienes-somos.html */
.contenido__mision, .contenido__vision{
    margin-top: 5vh;
}
.contenido__mision--titulo, .contenido__vision--titulo{
    text-align: center;
    font-size: xx-large;
    font-family: 'Almendra', serif;
    font-weight: 700;
}
.contenido__mision p, .contenido__vision p{
    text-align: center;
    font-size: x-large;
    font-family: 'Shadows Into Light', cursive;
}
/*  CSS galeria.html */
.contenido__galeria{
    text-align: center;
    position: relative;
    z-index: 0;
}
.contenido__galeria--fondo{
    width: 30vw;
    height: 30vh;
}
.contenido__galeria:hover{
    background-color: transparent;
    z-index: 50;
}
.contenido__galeria span{
    /* Estilos para la imagen agrandada */
    position: absolute;
    background-color: black;
    padding: 5px;
    border: 5px double gray;
    visibility: hidden;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.contenido__galeria span img{
    border-width: 0;
    padding: 2px;
    width: 25vw;
    height: 25vh;
}
.contenido__galeria:hover span{
    visibility: visible;
    top: -100px;
    left: 0px;
}
/* CSS Productos.html */
.contenido__productos{
	position: relative;
	width: 20vw;
	height: auto;
	padding-top: 350px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px #aaaaaa solid;
    display: inline-block;
}
.contenido__productos img.gallery-fullsize {
	position: absolute;
    width: 20vw;
    height: 20vh;
	top: 15px;
	display: none;
}
label.gallery-label {
	cursor: pointer;
}

input.gallery-selector:checked ~ img.gallery-fullsize {
	display: block;
}
/* css contacto.html */
.contenido__direccion{
    margin: 0% auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100vw;
    border: 1px;
    text-align: center;
    overflow-x: hidden;
}
.contenido__sociales{
    margin: 0% auto;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
hr{
    width: 100vw;
    margin: 5px auto;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
.contenido__formulario{
    display: none;
    margin:  0 auto;
}
.contenido__formulario--registro{
    font-size: 25px;
    margin: 1% auto;    
}
/* Breakpoint 768px */
@media only screen and (min-width: 768px){
    .contenedor{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "promo promo"
        "cabezera cabezera"
        "nav nav"
        "contenido contenido"
        "pie pie";
    }
    .contenedor__cabezera--logo{
        width: 20vw;
        margin: 0% auto;
    }
    .contenedor__navegacion--lista{
        flex-direction: row;
        margin: 0% 4%;
        justify-content: space-between;
        padding: 0% 4%;
    }
    .contenido{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "one one"
        "two tree"
        "four four"
        "five seix"
        "seven seven";
    }
    .hero__primero{
        width: 100vw;
        grid-area: one;
    }
    .producto__primero{
        width: 20vw;
        grid-area: two;
    }
    .producto__segundo{
        width: 20vw;
        grid-area: tree;
    }
    .hero__segundo{
        width: 100vw;
        grid-area: four;
    }
    .producto__tercero{
        width: 20vw;
        grid-area: five;
    }
    .producto__cuarto{
        width: 20vw;
        grid-area: seix;
    }
    .producto__quinto{
        width: 20vw;
        grid-area: seven;
    }
    .contenido__mision, .contenido__vision{
        margin-top: 10vh;
    }
    .contenido__direccion{
        width: 20vw;
    }
    .contenido__sociales{
        width: 20vw;
    }
    hr{
        width: 20vw;
    }

}
/* breakponit 1024px */
@media only screen and (min-width: 1024px){
    .contenedor{
        grid-template-columns: repeat(3, 33.33vw);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "promo promo promo"
        ". cabezera ."
        "nav nav nav"
        "contenido contenido contenido"
        "pie pie pie";
    }
    .contenido{
        grid-template-columns: repeat(3, 33.33vw);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "one one one"
        "two . tree"
        "four four four"
        "five seven seix";
    }
    .contenido__producto{
        margin: 8% auto;
    }
    .producto__quinto{
        width: 20vw;
    }
    .contenido__mision{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .contenido__vision{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .contenido__direccion{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .contenido__sociales{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .contenido__formulario{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        display: block;
    }

}

